@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h4 class="display-4">Welcome</h4>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div>
                <a class="btn btn-danger text-white" asp-controller="Hacking" asp-action="LevelOne">
                    <i class="fas fa-keyboard fa-9x"></i>
                    <h1>Start hacking</h1>
                </a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>