@model Login
@{
    ViewData["Title"] = "Level One";
}

@if (@ViewBag.LoginInfo != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.LoginInfo
    </div>
}
<div class="text-center">
    <h4 class="display-4">Welcome</h4>
    <p4>Let's start with a simple one, just remember to be <b>structured</b></p4>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form asp-action="CheckPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SecretPassWord" class="control-label"></label>
                <input asp-for="SecretPassWord" class="form-control" />
                <span asp-validation-for="SecretPassWord" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />

            </div>
        </form>
        <div>
            <button class="btn btn-danger" onclick="alertHelpOne()">Hint 1</button>
            <button class="btn btn-danger" onclick="alertHelpTwo()">Hint 2</button>
            <button class="btn btn-danger" onclick="Solution()">Solution...</button>
        </div>
    </div>
    <div class="col-4"></div>

</div>

<script>
    function alertHelpOne() {
        alert("The password is in a database, try SQL-injection");
    }
    function alertHelpTwo() {
        alert("Here is the SQL statement in the code:\nselect * from Login WHERE Username = 'Admin' and Password = {password}");
    }
    function Solution() {
        alert("Try this:\n 'SQL injection is common' OR 1=1");
    }
</script>
