@model LevelTwo
@{
    ViewData["Title"] = "LevelTwo";
}
@if (@ViewBag.GuessNumber != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.GuessNumber
    </div>
}
<br />
    <div class="text-center">
        <p4>Login success! Now for the next challenge.</p4>
        <br />
        <p4>I made a guessing game, but someone told me there's a bug in it, can you find it?</p4>
        <p4>The source code is below</p4>

    </div>
<br />
<br />
<br />
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form asp-action="CheckAnswerForLevelTwo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="numberInput" class="control-label"></label>
                <input asp-for="numberInput" class="form-control" />
                <span asp-validation-for="numberInput" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-4"></div>

</div>
<div class="row">
    <div class="col-8">
        <img src="~/Images/LevelTwo.png" />
    </div>
    <div class="col-4"></div>
</div>
